:root {

/* Spacing */

--space-100: 8px;
--space-200: 16px;
--space-300: 24px;
--space-400: 32px;
--space-500: 40px;

/* Colors */

--white: #FFFFFF;
--black: #000000;
--purple-100: #F8EEFF;
--purple-600: #8B6990;
--purple-950: #301534;
--violet-600: #AD28EB;


}

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "WorkSans";
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
}

body {
    font-family: "WorkSans", sans-serif;
    background: #F8EEFF url("assets/images/background-pattern-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    width: 90%;
    max-width: 580px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 16px;
}

header {
    display: flex;
    gap: 1.5rem;
}

.tab {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.open-tab {
    cursor: pointer;
}

.close-tab {
    display: none;
    cursor: pointer;
}

main > *:not(:first-child) {
    border-top: 1px solid HSLA(240, 3%, 94%, 1);
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.tab:hover {
    cursor: pointer;
}

.active {
    color: var(--violet-600);
}


/* Typography */

h2 {
    font-size: 1rem;
}

h2:hover {
    color: var(--violet-600);
}

.panel p {
    line-height: 130%;
    padding: 0 1rem;
}


@media (min-width: 1000px) {
    body {
        background: #F8EEFF url("assets/images/background-pattern-desktop.svg");
        background-size: contain;
        background-repeat: no-repeat;
        
    }
}

h1 {
    font-size: 3rem;
}

@media (min-width: 1200px) {
    
}

h1 {
    font-size: 3.25rem;
}